@use "../mixins.scss" as m;
@use "../index.module.scss" as i;

.login_subHeading {
    margin-top: 62px;
    padding-left: 5.6%;

    @media screen and ( max-width: 280px ) {
        padding-left: 0;
        align-self: center;
        display: flex;
        justify-content: center;
    }

    @media screen and ( min-width: 440px ) {
        width: 440px;
        align-self: center;
    }

    @include i.media-breakpoint-up(md) {
        padding-left: 0;
        width: 89%;
        max-width: 1080px;
    }

    .login_subHeading_text {
        max-width: 312px;
        z-index: 2;

        @media screen and ( max-width: 280px ) {
            width: 89%;
        }

        .login_subHeading_text_main {
            @include m.main_text(24px, 36px);

            @media screen and ( max-width: 300px ) {
                text-align: center;
            }
        }
    
        .login_subHeading_text_sub {
            @include m.sub_main_text();

            @media screen and ( max-width: 280px ) {
                display: block;
            }

            @media screen and ( max-width: 300px ) {
                text-align: center;
            }
        }
    }

    .login_subHeading_img {
        right: 0;
        top: -100%;

        @media screen and ( max-width: 390px ) {
            display: none;
        }
    }
}