@use "../variants.scss" as v;

.home_carousel_butons_item {
    width: 7px;
    height: 7px;
    padding: 0;
    border: none;
    background-color: v.$carousel-bg;
    transition: width .25s ease;
}

.home_carousel_butons_item_active {
    width: 26px;
    background-color: v.$carousel-bg-active;
}