@use "sass:math";
@use "../index.module.scss" as i;

.home {
    @include i.media-breakpoint-up(md) {
        min-height: 100vh;
    }

    .wrapper1 {
        @include i.media-breakpoint-up(md) {
            flex-basis: calc(40% - math.div(i.$spacer, 2));
        }
    }

    .wrapper2 {
        @include i.media-breakpoint-up(md) {
            flex-basis: calc(60% - math.div(i.$spacer, 2));
        }
    }
}