@use "../index.module.scss" as i;

.chats_layout_wrapper {
    @include i.media-breakpoint-up(lg) {
        margin-top: 36px;
        margin-bottom: 36px;
    }
}

.chats_layout {
    row-gap: 32px;
}